/*

COLOUR PALETTE

orange accent       ff8e2d
teal                20abad
darker teal         007c84
off-white           eeeaeb

GOOGLE FONTS 

font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;

*/

/* UNIVERSAL STYLES */
body {
	font-family: 'Poppins', sans-serif;
}

header {
	background-color: #20abad;
	color: #eeeaeb;
}

h1,
h2 {
	font-family: 'Pacifico', cursive;
}

h1 {
	width: 100%;
	font-size: 2.25rem;
	text-align: center;
	padding: 1rem;
}

h1 a,
ul.menu a {
	color: #eeeaeb;
	text-decoration: none;
}

/* MOBILE VIEW */
nav {
	margin: 0 auto;
}

ul.menu a {
	text-transform: uppercase;
	padding: 1rem;
	display: block;
	text-decoration: underline;
	text-underline-position: under;
}

ul.submenu > li a {
	text-decoration: none;
}

ul.menu a:hover,
ul.menu a:active {
	background-color: #ff8e2d;
	border-radius: 5px;
}

ul.submenu {
	padding: 0 1rem;
}

ul.menu li:last-child {
	padding-bottom: 2rem;
}

svg {
	display: none;
}



/*HERO BANNER*/

header section {
	background: left /cover  url('../img/grapefruit-bg-sm.jpg');
	height: 40rem;
	text-align: center;
}

header section h2 {
	padding-top: 12rem;
	font-size: 4rem;
}

header section p {
	margin: 2rem;
	font-size: 1.25rem;
}

header section p a {
	background-color: #009ba3;
	padding: 1rem;
	border-radius: 10px;
	text-transform: uppercase;
	color: #eeeaeb;
}

header section p a:hover {
	background-color: #007c84;
}



/* DESKTOP VIEW */

@media screen and (min-width: 45rem) {
	nav {
		max-width: 58rem;
	}

	ul.menu {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	ul.menu li {
		flex: 1 0 auto;
		text-align: center;
		white-space: nowrap;
		position: relative;
	}

	ul.submenu {
		padding: 0;
	}

	ul.menu li:last-child {
		padding-bottom: 0;
	}

	svg {
		display: block;
		width: 1rem;
		margin-left: 0.75rem;
		fill: #eeeaeb;
	}

	li.dropdown > a {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	ul.submenu {
		transition: all 0.5s ease;
		background-color: #007c84;
		position: absolute;
		left: 0%;
		visibility: hidden;
		opacity: 0;
		z-index: 1;
	}

	ul.submenu li {
		text-align: left;
	}

	ul.menu > li {
		margin: 1rem;
	}

	ul.menu li:hover > ul {
		visibility: visible;
		opacity: 1;
	}

	ul.submenu a:hover {
		text-decoration: underline;
	}

	ul.menu li:focus-within > ul,
	ul.menu li > ul.focus {
		visibility: visible;
		opacity: 2;
		display: block;
	}

	header section {
		height: 50rem;
		background: left /cover  url('../img/grapefruit-bg.jpg');
		display: flex;
		align-items: center;
		justify-content: center;
	}

	header section h2 {
		padding: 0;/
	}

	header section div {
		padding: 2%;
		width: 50%;
	}
}

/* LARGEST VIEW */

@media screen and (min-width: 80rem) {
	header section div {
		max-width: 80rem;
	}
}